name: Pre-Commit

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: pre-commit
        uses: pre-commit/action@v3.0.1
      # - name: prettier
      #   uses: creyD/prettier_action@v4.3
      #   with:
      #     prettier_options: --write **/*.{css,js,json,md,ts}
